# Ignore everything in the root
/*

# Allow src folder so we can selectively ignore inside it
!src/

# Ignore ONLY .ts files under src
src/**/*.ts

# Allow dist folder
!dist/

# Ignore everything inside dist
dist/**

# Keep only RemoteScript.js inside dist
!dist/RemoteScript.js

# Keep .gitignore tracked
!.gitignore
