# 1. Ignore everything in the root
/*

# 2. Allow the path to your file
!dist/
dist/*

# 3. Finally, allow the specific file
!dist/RemoteScript.js

# Also keep the .gitignore itself tracked
!.gitignore
